
body {
    font-family: Arial, sans-serif;
}


.titulo {
    color: #333;
    font-size: 24px;
    text-align: center;
}


.destacado {
    background-color: #f0f0f0;
    padding: 10px;
}


.otro-destacado {
    background-color: #e0e0e0;
    color: blue;
}


.contenido {
    color: #666;
    margin: 10px 0;
}


.especial {
    background-color: yellow;
    border: 2px solid black;
}
